@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');



li, a, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color:#cccccc;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	border-bottom: black solid 6px;
}

img {
	border: black solid 4px;
	border-radius: 4px;
}

.logo {
	cursor: pointer;
	border-radius: 4px;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 25px;
}

.nav-links li a {
	transition: all 0.3 ease 0s;
}

.nav-links li a:hover {
	color: black;
}

button {
	padding: 9px 25px;
	background-color: #192DA1;
	outline: auto;
}

button:hover {

	padding: 9px 25px;
	background-color: #00000069;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

body {
	margin: 0;
	background: linear-gradient(to right, hsl(200, 100%, 30%), hsl(256, 100%, 25%));
	font-family: 'Open Sans', sans-serif;
}

h1{
	color: white;
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

h2 {
	color: white;
	font-size: 30px;
	margin-top: 0%;
	font-family: 'Open Sans', sans-serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.name {
	color: white;
	font-size: 40px;
	margin-top: 0%;
	font-family: 'Open Sans', sans-serif;
	
}

.title {
	color: white;
	font-size: 36px;
	margin-top: 0%;
	letter-spacing: .2rem;
	font-family: 'Days One', sans-serif;
	
}

.black {
	height: 3px;
	width: 100%;
	background-color: black;
	border-width: 0;
}

h3 {
	color: lightgrey;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0%;
}

.tagline {
	color: lightgrey;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

.bio {
	color: lightgrey;
	font-size: 18px;
	text-align: left;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 4%;
	background-color: #222;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: #727272;
	margin-top: 3%;
}

.about {
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5%;
	padding: 4%;
}

.proj-container {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	/* background-image: linear-gradient(grey, #0f678a); */
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	border-top: black solid 6px;
}

.github-btn {
	float: right;
	padding-right: 25%;
}

.live-demo-btn {
	float: left;
	padding-left: 25%;
}

/* .cta {
	display: flex;
} */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}